body {
    font-family: Arial, sans-serif;
    background-color:antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color:bisque;
    padding: 90px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    margin-left: -445px;
    margin-bottom: -120px;
}

h1 {
    
    margin-top: -500px;

}

.converter {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, select, button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color:cyan;
    color: rgb(144, 72, 72);
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #a1d44e80;
}
